$back     : #3D3B8E;
$front    : #6883BA;
$accent   :#F9F9F9;
$highlight: #E072A4;
$locked   : #B0E298;

body {
  font-size: 16px;
  width    : 100vw;
  height   : 100vh;
  color           : $accent;
  background-color: $back;
  margin          : 0;
  font-family     : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  background-color: $front;

  box-shadow: 2px 2px 12px #000000;
}

button {
  border-radius   : 2px;
  background-color: $front;
  padding         : 1em;
  margin          : 0.2em;
  color           : $accent;
  border          : none;
  text-align      : center;
  text-decoration : none;
  display         : inline-block;
  box-shadow      : 2px 2px 6px #000000;
  transition      : background-color 0.4s;
}

button:hover {
  background-color: $highlight;
  opacity         : 1;
}

button.active {
  background-color: $locked;
}

input {
  background-color: $accent;
  padding         : 1em;

}

label {
  padding: 0.5em;
}
.App {
  text-align    : center;
  display       : inline-flex;
  flex-direction: column;
  height        : 100vh;
}
.user {
  height         : 10em;
  width          : 10em;
  display        : inline-flex;
  justify-content: center;
  align-items    : center;
}

.user>span {
  height: 4em;
  width : 10em;
}
.content {
  height  : calc(100vh - 6em);
  width   : 100vw;
  overflow: auto;
}

.logo {
  height: 4em;
  width : 4em;
}

.header>* {
  align-self: normal;
}

.header {
  z-index         : 10;
  background-color: $back;
  display         : inline-flex;
  height          : 2em;
  align-items     : center;
  justify-content : center;
  fill            : $back;

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.footer {
  z-index         : 10;
  justify-content : center;
  height          : 2em;
  display         : inline-flex;
  width           : 100%;
  background-color: $back;
}