

* {
    color: var(--col-accent)
}
input {
    background-color: var(--col-accent);
    background-color: var(--col-accent);
    color           : black;
    border : 1px solid var(--col-back);
    outline         : none;
    transition      : all 50ms;
}

input:focus {
    box-shadow: 4 4 5px var(--col-highlight);
    border    : 1px solid var(--col-highlight);
}
.card {
    background-color: var(--col-back);
}
.card.active {
    background-color: var(--col-locked);
    * {
        color: black !important;
    }
}
.header {
    background-color: var(--col-back);
    fill            : var(--col-back);
}

.footer {
    background-color: var(--col-back);
}

body {
    color : var(--col-accent);
    background-color: var(--col-back);
}

h2 {
    background-color: var(--col-front);
}

.btn,
button {
    background-color: var(--col-front);
    color           : var(--col-accent);
}

.btn:hover,
button:hover {
    background-color: var(--col-highlight);
}

.btn.active,
button.active {
    background-color: var(--col-locked);
    color:black
}



.MuiDrawer-paper {
    background-color: var(--col-front) !important;
    color           : var(--col-accent) !important;
}

.settings {
    background-color: var(--col-back);
}

.MuiSvgIcon-root {
    color: var(--col-accent) !important;
}