.header * {}
.shadow {

}
.header {
    box-shadow : 2px 2px 6px #000000;
    z-index        : 10;
    display : flex;
    height         : 3em;
    align-items    : center;
    justify-content: space-between;
    }

    .header>.left,
    .header>.middle,
    .header>.right {
        display    : flex;
        align-items: center;
        width      : 33vw;

        * {
            box-shadow: none;
        }
    }

    .middle {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.header.mobile {}

.header img {
    height: 3em;
    width : 3em;
}

.settings {
    padding : 2em;
    z-index       : 100;
    text-align    : center;
    display       : inline-flex;
    // width         : min-content;
    height        : min-content;
    align-self    : center;
    flex-direction: column;
}

.content.settings {
    margin: 0px;
    height: inherit;
    width : inherit;
}

.footer.settings {
    width: 70%;
}


.header label {
    @media screen and (max-width: 700px) {}
}