
body {
  font-size: 16px;
  width    : 100vw;
  height   : 100vh;
  margin   : 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  box-shadow: 2px 2px 12px #000000;
}
#root {
  width: 100vw;
}

.btn,
button {
  border-radius  : 2px;
  padding        : 1em;
  margin         : 0.2em;
  border         : none;
  text-align     : center;
  text-decoration: none;
  display        : inline-block;
  box-shadow     : 2px 2px 6px #000000;
  transition     : background-color 0.4s;
}

.btn,
button:hover {
  opacity: 1;
}

.btn.active,
button.active {
  box-shadow: 0px 0px 0px #000000;
}

* {}

input {
  padding: 1em;
}

label {
  padding: 0.5em;
}

.App {
  text-align    : center;
  display       : inline-flex;
  flex-direction: column;
  height        : 100vh;
  width: 100vw;
}

.user {
  height         : 10em;
  width          : 10em;
  display        : inline-flex;
  justify-content: center;
  align-items    : center;
}

.user>span {
  height: 4em;
  width : 10em;
}
.scrollable {
  overflow: auto;
}

.content {
  height     : calc(100vh - 3em);
  text-align : center;
  display    : flex;
  flex-wrap  : wrap;
  justify-content: center;
}
.inner-content {
  
}
.logo {
  height: 4em;
  width : 4em;
}

.card {
  display       : flex;
  flex-direction: column;
  padding       : 1em;
  margin        : 1em;
  box-shadow    : 2px 2px 3px #000000;
}

.footer {
  z-index        : 10;
  justify-content: center;
  height         : 3em;
  display        : inline-flex;
  width          : 100%;
  align-self: flex-end;
}